* {
  /* box-sizing: content-box; 
  これがいけないと
  https://chaika.hatenablog.com/entry/2017/03/26/080000
  が気づかせてくれた*/
}

.thecontent {
  position: absolute;
  top: 0;
  background-color: #fff;
  width: 100%;
}

.product_image {
  object-fit: cover;
  width: 50%;
  border-radius: 50%;

}

.carousel-item img {
  height: 30vh;
  object-fit: cover;
  filter: opacity(0.5);
}
