* {
  box-sizing: content-box;
}

.thecontent {
  position: absolute;
  top: 0;
  background-color: #fff;
  width: 100%;
}

.product_image {
  object-fit: cover;
  width: 50%;
  border-radius: 50%;

}

.carousel-item img {
  height: 30vh;
  object-fit: cover;
  filter: opacity(0.5);
}
